https://www.kaggle.com/datasets/amitabhajoy/bengaluru-house-price-data

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [180]:
df = pd.read_csv("Bengaluru_House_Data.csv")
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [182]:
df.shape

(13320, 9)

In [184]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [186]:
for col in df.columns.to_list():
    print(df[col].value_counts())
    print("*" * 20)

area_type
Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: count, dtype: int64
********************
availability
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: count, Length: 81, dtype: int64
********************
location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64
********************
size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: count, dtype: int64
********************
society
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: count, Length: 2688, dtype: int64
********************
total_sqft
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: count, Length: 2117, dtype: int64
********************
bath
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: count, dtype: int64
********************
balcony
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: count, dtype: int64
********************
price
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: count, Length: 1994, dtype: int64
********************

In [188]:
df.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [190]:
df.drop(columns = ["area_type", "availability", "society", "balcony"], inplace = True)

In [192]:
df.describe()

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [194]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [196]:
df["location"].value_counts()

location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64

In [198]:
# There is only 1 missing row in "location". Therefore, filling it with any location name will have no effect.

In [200]:
df["location"] = df["location"].fillna("Sarjapur Road")

In [202]:
df["size"].value_counts()

size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: count, dtype: int64

In [204]:
# Therefore, we will fill our missing value with "2 BHK", since it is the most occuring value in the "size" column.
df["size"] = df["size"].fillna("2")

In [206]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [208]:
df["size"].str.split().str.get(0).astype("int") # It will give us the only numeric part of values in "size" column.

0        2
1        4
2        3
3        3
4        2
        ..
13315    5
13316    4
13317    2
13318    4
13319    1
Name: size, Length: 13320, dtype: int32

In [210]:
df["bhk"] = df["size"].str.split().str.get(0).astype("int")

In [212]:
df[df.bhk > 20] # Although 20 here is not Q3 of "bhk" column but here we have chosen 20 based on our experience or knowledge.

                       location        size total_sqft  bath  price  bhk
1718  2Electronic City Phase II      27 BHK       8000  27.0  230.0   27
4684                Munnekollal  43 Bedroom       2400  40.0  660.0   43

In [214]:
df["total_sqft"].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [216]:
# We can see that there also ranges in the "total_sqft" column. We will replace that range with with the mean.

In [218]:
def convertrange(x):
    temp = x.split("-")
    if len(temp) == 2:
        return ((float(temp[0]) + float(temp[1])) /2 )
    try:
        return float(x)
    except:
        return None

In [220]:
df["total_sqft"] = df["total_sqft"].apply(convertrange)

In [222]:
df.head()

                   location       size  total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0   51.00    2

In [224]:
df["price_per_sqft"] = df["price"] * 100000 / df["total_sqft"]

In [226]:
df["price_per_sqft"]

0         3699.810606
1         4615.384615
2         4305.555556
3         6245.890861
4         4250.000000
             ...
13315     6689.834926
13316    11111.111111
13317     5258.545136
13318    10407.336319
13319     3090.909091
Name: price_per_sqft, Length: 13320, dtype: float64

In [228]:
df.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13247.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.692610    112.565627      2.802778    7.907501e+03
std     1238.405258      1.341458    148.971674      1.294496    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [230]:
df.location.value_counts()

location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Uvce Layout                         1
Abshot Layout                       1
Name: count, Length: 1306, dtype: int64

In [232]:
df.location.apply(lambda x: x.strip()).value_counts() # Remove any trailing or ending any whitespace (newline, tabs, spaces) character

location
Whitefield                            541
Sarjapur  Road                        399
Electronic City                       304
Kanakpura Road                        273
Thanisandra                           237
                                     ...
1Channasandra                           1
Hosahalli                               1
Vijayabank bank layout                  1
near Ramanashree California resort      1
Abshot Layout                           1
Name: count, Length: 1295, dtype: int64

In [234]:
df.location = df.location.apply(lambda x: x.strip())

In [236]:
location_count = df.location.value_counts()

In [238]:
location_count

location
Whitefield                            541
Sarjapur  Road                        399
Electronic City                       304
Kanakpura Road                        273
Thanisandra                           237
                                     ...
1Channasandra                           1
Hosahalli                               1
Vijayabank bank layout                  1
near Ramanashree California resort      1
Abshot Layout                           1
Name: count, Length: 1295, dtype: int64

In [240]:
location_count_less_than_10 = location_count[location_count <= 10]
location_count_less_than_10.index.to_numpy()

array(['BTM 1st Stage', 'Nagadevanahalli', 'Basapura', ...,
       'Vijayabank bank layout', 'near Ramanashree California resort',
       'Abshot Layout'], dtype=object)

In [242]:
# Now we will replace the location counts which are less than or equal to 10 with "Others"
df["location"] = df["location"].apply(lambda x: "other" if x in location_count_less_than_10 else x)
# Same as: df["location"] = df["location"].apply(lambda x: "other" if x in location_count_less_than_10.index else x)

In [244]:
df["location"].value_counts()

location
other                 2886
Whitefield             541
Sarjapur  Road         399
Electronic City        304
Kanakpura Road         273
                      ...
Nehru Nagar             11
Banjara Layout          11
LB Shastri Nagar        11
Pattandur Agrahara      11
Narayanapura            11
Name: count, Length: 242, dtype: int64

In [246]:
# We see that number of unique values dropped from 1306 to 242. Thus our dimaensionality of data will be less when we will apply OHE.

## Outlier Detection and removal

In [248]:
df.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13247.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.692610    112.565627      2.802778    7.907501e+03
std     1238.405258      1.341458    148.971674      1.294496    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [250]:
(df["total_sqft"] / df["bhk"]).describe()

count    13274.000000
mean       575.074878
std        388.205175
min          0.250000
25%        473.333333
50%        552.500000
75%        625.000000
max      26136.000000
dtype: float64

In [252]:
df = df[(df["total_sqft"] / df["bhk"]) >= 300]
df

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000
...,...,...,...,...,...,...,...
13315,Whitefield,5 Bedroom,3453.0,4.0,231.00,5,6689.834926
13316,other,4 BHK,3600.0,5.0,400.00,4,11111.111111
13317,Raja Rajeshwari Nagar,2 BHK,1141.0,2.0,60.00,2,5258.545136
13318,Padmanabhanagar,4 BHK,4689.0,4.0,488.00,4,10407.336319
13319,Doddathoguru,1 BHK,550.0,1.0,17.00,1,3090.909091

In [254]:
df.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  12530.000000  12457.000000  12530.000000  12530.000000    12530.000000
mean    1594.564544      2.562816    111.382401      2.650838     6303.979357
std     1261.271296      1.080239    152.077329      0.976678     4162.237981
min      300.000000      1.000000      8.440000      1.000000      267.829813
25%     1116.000000      2.000000     49.000000      2.000000     4210.526316
50%     1300.000000      2.000000     70.000000      3.000000     5294.117647
75%     1700.000000      3.000000    115.000000      3.000000     6916.666667
max    52272.000000     16.000000   3600.000000     16.000000   176470.588235

In [256]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12530 entries, 0 to 13319
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   location        12530 non-null  object
 1   size            12530 non-null  object
 2   total_sqft      12530 non-null  float64
 3   bath            12457 non-null  float64
 4   price           12530 non-null  float64
 5   bhk             12530 non-null  int32
 6   price_per_sqft  12530 non-null  float64
dtypes: float64(4), int32(1), object(2)
memory usage: 734.2+ KB

In [258]:
def remove_outliers_sqft(df):
    df_output = pd.DataFrame()
    for key, sub_df in df.groupby("location"):
        mean = np.mean(sub_df.price_per_sqft)
        std = np.std(sub_df.price_per_sqft)
        
        # Only keep those prices_per_sqft which are within one standard deviation away from mean.
        gen_df = sub_df[((sub_df.price_per_sqft) > (mean - std)) & ((sub_df.price_per_sqft) <= (mean + std))]
        df_output = pd.concat([df_output, gen_df], ignore_index = False)

    return df_output

df = remove_outliers_sqft(df)
df

,location,size,total_sqft,bath,price,bhk,price_per_sqft
210,1st Block Jayanagar,4 BHK,2850.0,4.0,428.00,4,15017.543860
848,1st Block Jayanagar,3 BHK,1630.0,3.0,194.00,3,11901.840491
2152,1st Block Jayanagar,3 BHK,1875.0,2.0,235.00,3,12533.333333
7138,1st Block Jayanagar,3 BHK,1200.0,2.0,130.00,3,10833.333333
7358,1st Block Jayanagar,2 BHK,1235.0,2.0,148.00,2,11983.805668
...,...,...,...,...,...,...,...
13285,other,2 BHK,1353.0,2.0,110.00,2,8130.081301
13291,other,1 Bedroom,812.0,1.0,26.00,1,3201.970443
13292,other,3 BHK,1440.0,2.0,63.93,3,4439.583333
13302,other,2 BHK,1075.0,2.0,48.00,2,4465.116279
13316,other,4 BHK,3600.0,5.0,400.00,4,11111.111111

In [260]:
df.describe()

         total_sqft         bath         price           bhk  price_per_sqft
count  10301.000000  10245.00000  10301.000000  10301.000000    10301.000000
mean    1508.440608      2.47428     91.286372      2.574896     5659.062876
std      880.694214      0.98150     86.342786      0.897649     2265.774749
min      300.000000      1.00000     10.000000      1.000000     1250.000000
25%     1110.000000      2.00000     49.000000      2.000000     4244.897959
50%     1286.000000      2.00000     67.000000      2.000000     5175.600739
75%     1650.000000      3.00000    100.000000      3.000000     6428.571429
max    30400.000000     16.00000   2200.000000     16.000000    24509.803922

In [262]:
def remove_outlier_bhk(df):
    exclude_indices = np.array([])
    for location, location_df in df.groupby("location"):
        bhk_stats = {}

        for bhk, bhk_df in df.groupby("bhk"):
            bhk_stats[bhk] = {
                "mean" : np.mean(bhk_df.price_per_sqft),
                "std" : np.std(bhk_df.price_per_sqft),
                "count" : bhk_df.shape[0]
            }
        
    for bhk, bhk_df in location_df.groupby("bhk"):
        stats = bhk_stats.get(bhk - 1)
        if stats and stats["count"] > 5:
            exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_per_sqft < stats["mean"]].index.values)

    return df.drop(exclude_indices, axis = "index")

In [264]:
df = remove_outlier_bhk(df)

In [265]:
df

,location,size,total_sqft,bath,price,bhk,price_per_sqft
210,1st Block Jayanagar,4 BHK,2850.0,4.0,428.0,4,15017.543860
848,1st Block Jayanagar,3 BHK,1630.0,3.0,194.0,3,11901.840491
2152,1st Block Jayanagar,3 BHK,1875.0,2.0,235.0,3,12533.333333
7138,1st Block Jayanagar,3 BHK,1200.0,2.0,130.0,3,10833.333333
7358,1st Block Jayanagar,2 BHK,1235.0,2.0,148.0,2,11983.805668
...,...,...,...,...,...,...,...
13264,other,2 BHK,1095.0,2.0,57.0,2,5205.479452
13278,other,2 BHK,1256.0,2.0,65.0,2,5175.159236
13285,other,2 BHK,1353.0,2.0,110.0,2,8130.081301
13291,other,1 Bedroom,812.0,1.0,26.0,1,3201.970443
13316,other,4 BHK,3600.0,5.0,400.0,4,11111.111111

In [268]:
df.describe()

         total_sqft         bath        price          bhk  price_per_sqft
count   9241.000000  9187.000000  9241.000000  9241.000000     9241.000000
mean    1508.029186     2.470339    94.357236     2.564549     5827.867268
std      824.011193     0.967728    87.379140     0.874095     2320.093051
min      300.000000     1.000000    10.000000     1.000000     1300.000000
25%     1115.000000     2.000000    50.000000     2.000000     4350.406504
50%     1295.000000     2.000000    70.000000     2.000000     5363.443896
75%     1665.000000     3.000000   105.000000     3.000000     6611.893584
max    30000.000000    16.000000  2200.000000    16.000000    24509.803922

In [270]:
df.drop(columns = ["size", "price_per_sqft"], inplace = True)

## Cleaned Data

In [272]:
df.head()

                 location  total_sqft  bath  price  bhk
210   1st Block Jayanagar      2850.0   4.0  428.0    4
848   1st Block Jayanagar      1630.0   3.0  194.0    3
2152  1st Block Jayanagar      1875.0   2.0  235.0    3
7138  1st Block Jayanagar      1200.0   2.0  130.0    3
7358  1st Block Jayanagar      1235.0   2.0  148.0    2

In [303]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9241 entries, 210 to 13316
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    9241 non-null   object
 1   total_sqft  9241 non-null   float64
 2   bath        9187 non-null   float64
 3   price       9241 non-null   float64
 4   bhk         9241 non-null   int32
dtypes: float64(3), int32(1), object(1)
memory usage: 397.1+ KB

In [309]:
df["bath"] = df["bath"].apply(lambda x: np.random.randint(1, 6) if np.isnan(x) else x)

In [311]:
X = df.drop(columns = ["price"])
y = df["price"]

In [313]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [315]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [317]:
print(X_train.shape)
print(X_test.shape)

(6930, 4)
(2311, 4)

## Applying Linear Regression

In [321]:
column_trans = make_column_transformer((OneHotEncoder(sparse_output = False), ["location"]),
                                      remainder = "passthrough")

In [323]:
scaler = StandardScaler()
lr = LinearRegression()
pipe = make_pipeline(column_trans, scaler, lr)

In [325]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse_output=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [329]:
y_pred_lr = pipe.predict(X_test)
r2_score(y_test, y_pred_lr)

0.8384828341833661

## Lasso

In [341]:
lasso = Lasso()
pipe = make_pipeline(column_trans, scaler, lasso)
pipe.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse_output=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [343]:
y_pred_lasso = pipe.predict(X_test)
r2_score(y_test, y_pred_lasso)

0.8251763222621243

## Ridge

In [345]:
ridge = Ridge()
pipe = make_pipeline(column_trans, scaler, ridge)
pipe.fit(X_train, y_train)
y_pred_ridge = pipe.predict(X_test)
r2_score(y_test, y_pred_ridge)

0.8387428150156343

In [347]:
print("No Regularization: ", r2_score(y_test, y_pred_lr))
print("Lasso: ",r2_score(y_test, y_pred_lasso))
print("Ridge: ", r2_score(y_test, y_pred_ridge))

No Regularization:  0.8384828341833661
Lasso:  0.8251763222621243
Ridge:  0.8387428150156343

## Save the model

In [350]:
import pickle
pickle.dump(pipe, open("RdigeModel.pkl", "wb"))